*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora;
}
nav{
    border-bottom: 1px solid rgb(28, 184, 1);
    width: 100%;
}
.once{
    animation-iteration-count: 1;
  }
.other{
    display: none;
    visibility: hidden;
}